h1 {
	color: Green;
	text-align: left;
}
h2 {
	color: Red;
	text-align: center;
}
h3 {
	color: Yellow;
	text-align: right;
}
h4 {
	color: Pink;
	text-align: left;
}
h5 {
	color: Blue;
	text-align: center;
}
h6 {
	color: Black;
	text-align: right;
}
